**/.idea
**/.DS_Store
**/node_modules
**/vendor
**/dist
**/*.log

/wp-*.php
/xmlrpc.php
/readme.html
/license.txt
/index.php
/.htaccess

wp-admin
wp-includes
wp-snapshots

!wp-content/
wp-content/*
!wp-content/themes/
!wp-content/mu-plugins/
wp-content/themes/*
!wp-content/themes/jbcrea/
wp-content/themes/jbcrea/cache

dploy.yaml