@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}

@mixin vertical-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin pseudo() {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
}

@mixin transition() {
  transition: all 500ms ease-in-out;
}

@mixin skew() {
  transform: skew(0deg, -2deg);
}
