@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap');

$gosselink-green: #11a09a;
$dark-blue: #2c3e50;
$white: #FFF;
$black: #000;
$dark-gray: #2f3339;
$red: #F00;
$green: #0F0;
$blue: #00F;

$gray: #5c5c5c;

$action: $dark-blue;

$header-height: 80px;
$header-height-mobile: 60px;

$body-font: 'Roboto', sans-serif;
