{# Scroll Top #}
<a href="#{{top_anchor}}" class="scrolltop">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M24 15.878L20 20l-8-8-8 8-4-4.122L12 4l12 11.878z"/></svg>
</a>

{# Popup container #}
<div class="reveal popup large" id="popup" data-reveal>
    <div class="popup-content">
    </div>
</div>

{# Footer Menu if enabled #}
{% if options.footer_menu_enabled %}
    <div class="grid-container">

        <ul id="footer-menu" class="menu align-center">
            {% for item in footer_menu.items %}
                {% include "partial/menu-item.twig" with {'item': item} %}
            {% endfor %}
        </ul>

    </div>
{% endif %}

<div class="grid-container">
    <div class="text-center">Copyright {{"now"|date('Y')}} - Création <a href="https://www.gosselink.fr" target="_blank">JBCrea</a></div>
</div>