{% extends "base.twig" %}

{% block content %}

	<section class="content-wrapper">

		<h1 class="article-h1">Erreur 404</h1>

		<div class="page-title">
			<p>Impossible de trouver le contenu demandé.</p>
		</div>

	</section>

{% endblock %}