{% extends "base.twig" %}

{% block content %}

	<div class="wrapper {{sidebar_class}}">
        {% for post in posts %}
            {% include ['partial/tease-'~post.post_type~'.twig', 'partial/tease.twig'] %}
        {% endfor %}

        {% include 'partial/pagination.twig' %}
	</div>

    {% if sidebar %}
		<aside class="layout-sidebar">
            {{sidebar}}
		</aside>
    {% endif %}

{% endblock %}