{% extends "base.twig" %}

{% block content %}

	<section class="content-wrapper">

		<h1>{{ title }}</h1>

        <h2>{{ posts|length }} résultat{{ posts|length > 1 ? 's' : '' }}</h2>

		{% for post in posts %}
			{% include ['partial/tease-'~post.post_type~'.twig', 'partial/tease.twig'] %}
		{% endfor %}

		{% include 'partial/pagination.twig' %}

	</section>

{% endblock %}
